<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sampleApp2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
				<key>dateExpires</key>
				<string>2019/11/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNI18n.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_network_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_tcp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_udp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECF03A31B4AD8A354846F87D54F350F4DDF8B37C</string>
						<key>dateExpires</key>
						<string>2019/11/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWJ7M39LP9</string>
						<key>name</key>
						<string>zhi wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JWJ7M39LP9.cn.wangzhi.hotelCtrl</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JWJ7M39LP9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>JWJ7M39LP9.cn.wangzhi.hotelCtrl</string>
				</array>
			</dict>
			<key>name</key>
			<string>sampleApp2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7dc0a351-dcc2-488f-9f09-50a0f442dda0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: cn.wangzhi.hotelCtrl</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JWJ7M39LP9</string>
				<key>name</key>
				<string>zhi wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
