<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hotelCtrl.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>10EA28189F958D9F0904996C966C62CAD6250E86</string>
				<key>dateExpires</key>
				<string>2019/9/5</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JWJ7M39LP9.com.hotelCtrl</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JWJ7M39LP9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>JWJ7M39LP9.com.hotelCtrl</string>
				</array>
			</dict>
			<key>name</key>
			<string>hotelCtrl.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ef1c4067-b830-486c-8876-d0da82ff3074</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.hotelCtrl</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JWJ7M39LP9</string>
				<key>name</key>
				<string>zhi wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
